.list{
  margin-top:-12px;
  padding-right: 10px;
  justify-content: space-around;
}
.list-group-item{
  border: none;
  margin-top:0px;
  justify-self: center;
  padding-right: 15px;

}
.list__image{
  width:4vw;
  height:4vw;

}
.list__feature{
  font-weight: bold;
  padding-inline-start: 15px;

}