.collection{
  background-image: url('../../assets/rectangle.png');
  margin-top: 10px;
}
.collection__header{
  text-align: center;
  padding-top:6vh;
  position:relative;
}
.collection__header::after{
  content:'';
  height:2px;
  width:8%;
  background:#f24432;
  position:absolute;
  left:calc(50% - 4%);
  bottom:-15px;  
}
.collection__container{
  padding: 37px 24px;
}
.collection__container__rows{
  justify-content: space-around;
}
.card-img{
  background-color: #EFF8F8;
  border: 7px solid white;
  justify-content: space-between;
  width: 100%;
  height: auto;
  }
