.products{
  margin-top: 10px;
}
.carousel-card{
  padding: 8vh 25px;
}
.products__header{
  text-align: center;
  padding-top:6vh;
  position:relative;
}
.products__header::after{
  content:'';
  height:2px;
  width:8%;
  background:#f24432;
  position:absolute;
  left:calc(50% - 4%);
  bottom:-15px;  
}